* {
box-sizing: border-box;
}

html {

}

body {

}

.container {
display: grid;
height: 98vh;
justify-content: center;
align-content: center;
justify-items: center;
}

h1 {

}

p {
margin: 0;
}